@charset "UTF-8";
@font-face {
  font-family: 'Arial';
  src: url("/shelter/assets/fonts/fonts/fonts/arial/arial-regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Georgia';
  src: url("/shelter/assets/fonts/fonts/fonts/georgia/georgia-regular.ttf");
  font-weight: 400;
}

body {
  overflow: auto;
  position: relative;
}

body.lock {
  overflow: hidden;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.wrapper {
  width: 1200px;
  margin-left: 40px;
}

html {
  scroll-behavior: smooth;
  background: url(../../../shelter/assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: #545454;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* border: dotted #5bcd81 1px; */
}

.nav-item a.active:after, .nav-link, .nav-link:hover, .nav-link:focus, .nav-link:active, .no-button, .no-button:hover, .no-button:active, .left-btn, .left-btn:hover, .left-btn:active, .right-btn, .right-btn:hover, .right-btn:active, .pets_card, .pets_card:hover, .pets_card:hover .pets_card-btn, .reset-btn, .reset-btn:hover, .reset-btn:active, .account-style, .account-style:hover, .pop-btn, .pop-btn:hover, .pop-btn:active {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* ### HEADER ### */
.wrapper_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  margin-top: 61px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 250px;
  height: 60px;
  left: 0px;
  top: 0px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

h1 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  margin-top: 0px;
}

.text_logo {
  font-family: 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  margin-top: -14px;
  margin-left: 5px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  list-style: none;
  margin-top: 8px;
  margin-right: -33px;
}

#fbmenu {
  position: relative;
}

.nav-item {
  margin-right: 35px;
}

.nav-item a {
  display: inline-block;
  line-height: 1,8;
  color: #CDCDCD;
}

.nav-item a.active:after {
  display: block;
  content: "";
  height: 3px;
  width: 100%;
  background-color: #F1CDB3;
}

.nav-item a:hover:after,
.nav-item a:focus:after {
  width: 100%;
}

.nav-link {
  font-family: 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 10px 0px;
}

.nav-link:hover, .nav-link:focus, .nav-link:active {
  color: #FAFAFA;
}

/* ### NOT ONLY ### */
.wrapper_no {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro {
  width: 460px;
  height: 322px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  margin-top: 221px;
}

.no-title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: #FFFFFF;
  width: 310px;
  height: 114px;
  margin-top: 0;
}

.no-subtitle {
  font-family: 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  width: 460px;
  height: 72px;
  margin-top: 6px;
}

.no-button {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  border-radius: 100px;
  width: 207px;
  height: 52px;
  background: #F1CDB3;
  margin: 0;
  border: 2px solid #FDDCC4;
  margin-top: 27px;
  cursor: pointer;
}

.no-button:hover, .no-button:active {
  background: #FDDCC4;
}

.img-puppy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-top: 59px;
}

/* ### ABOUT ### */
.wrapper_about-1 {
  background: #FFFFFF;
}

.wrapper_about-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: #FFFFFF;
}

.img-about-pets {
  margin-top: 80px;
  margin-left: 175px;
  margin-bottom: 95px;
}

.heading_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  margin-top: 93px;
  margin-left: 120px;
}

.title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  width: 370px;
  height: 90px;
  margin-top: 0;
}

.about-subtitle {
  font-family: 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 159%;
  color: #4C4C4C;
  width: 430px;
  height: 96px;
  margin-top: -10px;
  margin-bottom: 36px;
}

/* ### FRIENDS ### */
.heading_friends {
  height: 90px;
  margin-left: 441px;
  margin-top: 80px;
  text-align: center;
}

.title_friends {
  width: 400px;
}

.left-btn {
  position: reltive;
  height: 52px;
  width: 52px;
  border-radius: 50%;
  border: 2px solid #F1CDB3;
  background-color: transparent;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  margin-top: 193px;
  cursor: pointer;
}

.left-btn:hover, .left-btn:active {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.right-btn {
  position: reltive;
  height: 52px;
  width: 52px;
  border-radius: 50%;
  border: 2px solid #F1CDB3;
  background-color: transparent;
  margin-left: 54px;
  margin-top: 193px;
  cursor: pointer;
}

.right-btn:hover, .right-btn:active {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.wrapper_friends-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #F6F6F6;
}

.wrapper_friends-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: #F6F6F6;
  width: 1200px;
  height: 435px;
  margin-top: 60px;
}

.wrapper_pets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 55px;
  width: 990px;
}

.pets_h3 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 25px;
}

.pets_card {
  width: 270px;
  height: 435px;
  background: #FAFAFA;
  border-radius: 9px;
  cursor: pointer;
}

.pets_card:hover {
  -webkit-box-shadow: 0px 3px 26px -11px #42445a;
  box-shadow: 0px 3px 26px -11px #42445a;
}

.pets_card:hover .pets_card-btn {
  background: #FDDCC4;
}

.pets_card-btn {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  border-radius: 100px;
  width: 187px;
  height: 52px;
  background: #F6F6F6;
  border: 2px solid #FDDCC4;
  margin-top: 10px;
  margin-left: 41px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.reset-btn {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  border-radius: 100px;
  width: 261px;
  height: 52px;
  background: #F1CDB3;
  border: 2px solid #F1CDB3;
  margin-top: 60px;
  margin-left: 510px;
  margin-bottom: 100px;
  cursor: pointer;
}

.reset-btn:hover, .reset-btn:active {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
}

/* ### HELP ### */
.unit_color {
  background: #FFFFFF;
}

.wrapper_help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.unit_help {
  padding-top: 80px;
  margin-left: 416px;
  text-align: center;
}

.help_list {
  margin-top: 25px;
  width: 1160px;
  height: 281px;
  margin-bottom: 100px;
  margin-left: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.help_h4 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

.text_center {
  text-align: center;
  width: 168px;
  height: 113px;
}

.item1 {
  width: 85px;
  margin-left: 38px;
  margin-right: 80px;
}

.item2 {
  width: 150px;
  margin-left: 38px;
  margin-right: 80px;
}

.item3 {
  width: 65px;
  margin-left: 38px;
  margin-right: 80px;
}

.item4 {
  width: 155px;
  margin-left: 37px;
  margin-right: 82px;
}

.item5 {
  width: 101px;
  margin-left: 37px;
}

.item6 {
  width: 89px;
  margin-left: 123px;
  margin-right: 120px;
  margin-top: 55px;
}

.item7 {
  width: 101px;
  margin-left: 1px;
  margin-right: 118px;
  margin-top: 55px;
}

.item8 {
  width: 168px;
  margin-left: 1px;
  margin-right: 117px;
  margin-top: 55px;
}

.item9 {
  width: 145px;
  margin-top: 55px;
}

/* ### ADDITION ### */
.donation {
  background: #F6F6F6;
}

.wrapper_donation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.img_donation-dog {
  margin-top: 91px;
  margin-left: 143px;
}

.heading_donation-dog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 31px;
  margin-bottom: 88px;
}

.title_donation {
  margin-top: 80px;
  width: 300px;
}

.donation-subtitle {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: -14px;
}

.account-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 349px;
  height: 43px;
  background-color: #F1CDB3;
  border-radius: 9px;
  margin-top: -6px;
  cursor: pointer;
}

.account-style:hover {
  background: #FDDCC4;
}

.card-syle {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-left: 16px;
}

.card {
  margin-left: 14px;
  margin-top: 10px;
}

.donation_info {
  font-family: 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-style: italic;
  margin-top: 20px;
  margin-left: -1px;
  width: 380px;
  height: 72px;
  font-size: 12px;
  line-height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #B2B2B2;
}

/* ### FOOTER ### */
.footer_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 40px;
}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 300px;
  margin-top: 23px;
}

.box_possition-center {
  margin-left: 139px;
}

.box_possition-right {
  margin-left: 161px;
  margin-top: 42px;
}

.h3_footer {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.h4_footer {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  margin-left: 20px;
}

.footer-blok-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.footer-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  margin-top: -5px;
  cursor: pointer;
}

.box_down1 {
  margin-top: 22px;
}

.box_down2 {
  margin-top: 22px;
}

/* ### POPUP ### */
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup-body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
}

.popup-content {
  background-color: #FAFAFA;
  width: 900px;
  height: 500px;
  position: relative;
  border-radius: 9px;
}

.popup-close {
  position: absolute;
  top: -10px;
}

.pop-btn {
  position: absolute;
  height: 52px;
  width: 52px;
  border-radius: 50%;
  border: 2px solid #F1CDB3;
  background-color: transparent;
  top: -52px;
  right: -42px;
  text-align: center;
  line-height: 100%;
  cursor: pointer;
}

.pop-btn:hover, .pop-btn:active {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.wrapp-popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.img-class {
  width: 500px;
  height: 490px;
  background-size: 100%;
}

.cont-pop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 380px;
  height: 500px;
  padding-top: 50px;
  padding-left: 29px;
}

.popup-title {
  font-family: Georgia;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.popup-subtitle {
  font-family: Georgia;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  padding-top: 10px;
}

.popup-text {
  font-family: Georgia;
  font-size: 15px;
  width: 350px;
  height: 102px;
  line-height: 110%;
  letter-spacing: 0.06em;
  padding-top: 42px;
}

.list-pets-pop {
  width: 182px;
  height: 167px;
  padding-top: 63px;
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popup-date {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-weight: bold;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.15em;
}

ul {
  list-style: none;
}

.ul_li {
  content: "•";
  color: #F1CDB3;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.pop-style {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
}

@media (max-width: 1279px) {
  .container {
    width: 768px;
    margin: 0 auto;
    overflow-x: hidden;
  }
  .wrapper {
    width: 708px;
    margin: auto;
  }
  .wrapper_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-top: 30px;
    overflow-y: hidden;
  }
  .nav {
    margin-top: 11px;
    margin-right: 0;
    padding-left: 0px;
  }
  .logo {
    width: 200px;
  }
  .nav-item {
    margin-right: 0px;
    margin-left: 36px;
  }
  .simbol_320 {
    display: none;
  }
  /* ### NOT ONLY ### */
  .wrapper_no {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .intro {
    margin: auto;
    margin-top: 60px;
  }
  .no-button {
    width: 207px;
    height: 52px;
    margin-left: 126px;
    margin-top: 26px;
  }
  .img-puppy {
    width: 569px;
    height: 593px;
    margin-top: 100px;
    margin-left: 140px;
  }
  /* ### ABOUT ### */
  .wrapper_about-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
  }
  .heading_about {
    margin-top: 80px;
    margin-left: 140px;
  }
  .img-about-pets {
    margin-top: 92px;
    margin-left: 203px;
    margin-bottom: 95px;
  }
  /* ### FRIENDS ### */
  .heading_friends {
    height: 90px;
    margin-left: 185px;
    margin-top: 80px;
    text-align: center;
  }
  .wrapper_pets {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 0px;
    width: 600px;
    overflow: hidden;
  }
  .wrapper_friends-2 {
    margin-top: 60px;
  }
  .pets_card {
    margin-left: 15px;
  }
  .pets_card:nth-child(2n) {
    margin-left: 39px;
  }
  .right-btn {
    margin-left: 5px;
  }
  .reset-btn {
    margin-left: 254px;
  }
  /* ### HELP ### */
  .unit_help {
    margin-left: 170px;
  }
  .help_list {
    width: 708px;
    height: 539px;
    margin-left: 30px;
    margin-bottom: 10px;
  }
  .item1 {
    width: 85px;
    margin-left: 51px;
    margin-right: 80px;
  }
  .item2 {
    width: 150px;
    margin-left: 32px;
    margin-right: 80px;
  }
  .item3 {
    width: 65px;
    margin-left: 43px;
    margin-right: 80px;
  }
  .item4 {
    width: 155px;
    margin-left: 16px;
    margin-right: 72px;
    margin-top: 55px;
  }
  .item5 {
    width: 101px;
    margin-left: 30px;
    margin-right: 12px;
    margin-top: 55px;
  }
  .item6 {
    width: 89px;
    margin-left: 123px;
    margin-right: 20px;
    margin-top: 55px;
  }
  .item7 {
    width: 101px;
    margin-left: 43px;
    margin-right: 60px;
    margin-top: 55px;
  }
  .item8 {
    width: 168px;
    margin-left: 36px;
    margin-right: 73px;
    margin-top: 55px;
  }
  .item9 {
    width: 145px;
    margin-top: 55px;
  }
  /* ### ADDITION ### */
  .wrapper_donation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .heading_donation-dog {
    margin-left: 164px;
    margin-bottom: 0px;
  }
  .img_donation-dog {
    margin-top: 48px;
    margin-left: 101px;
    margin-bottom: 96px;
  }
  /* ### FOOTER ### */
  .footer_container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -3px;
    margin-left: 34px;
    margin-right: 6px;
  }
  .footer-blok-info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-info {
    margin-top: -3px;
  }
  .box_possition-center {
    margin-left: 33px;
  }
  .footer-style {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50px;
    margin-top: -5px;
  }
  .box_down1 {
    margin-top: 21px;
  }
  .box_down2 {
    margin-top: 21px;
  }
  .box_possition-right {
    margin-left: 203px;
    margin-top: 55px;
  }
  /* ### POPUP ### */
  .popup-content {
    width: 630px;
    height: 350px;
  }
  .img-class {
    width: 350px;
    height: 350px;
  }
  .cont-pop {
    width: 380px;
    height: 350px;
    padding-top: 10px;
    padding-left: 13px;
  }
  .popup-text {
    font-size: 13px;
    width: 261px;
    padding-top: 22px;
  }
  .list-pets-pop {
    height: 107px;
    padding-top: 21px;
  }
}

@media (max-width: 1279px) and (max-width: 767px) {
  .container {
    width: 320px;
    margin: 0 auto;
  }
  .wrapper {
    width: 300px;
    margin: auto;
  }
  .intro._active {
    opacity: 0.33;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .img-puppy._active {
    opacity: 0.33;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .wrapper_about-1._active {
    opacity: 0.33;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .nav {
    display: none;
  }
  body._lock {
    overflow: hidden;
  }
  .fbmenu {
    z-index: 4;
    position: relative;
    height: 22px;
    width: 30px;
    cursor: pointer;
    margin-left: 27px;
  }
  .fbmenu span,
  .fbmenu::before,
  .fbmenu::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #F1CDB3;
  }
  .fbmenu::before,
  .fbmenu::after {
    content: "";
  }
  .fbmenu::before {
    top: 0;
  }
  .fbmenu::after {
    bottom: 0;
  }
  .fbmenu span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .fbmenu._active span {
    top: 50%;
    left: -10px;
    -webkit-transform: rotate(90deg) translate(0px, 50%);
            transform: rotate(90deg) translate(0px, 50%);
  }
  .fbmenu._active::before {
    top: 50%;
    left: 10px;
    -webkit-transform: rotate(90deg) translate(0px, 50%);
            transform: rotate(90deg) translate(0px, 50%);
  }
  .fbmenu._active::after {
    top: 50%;
    -webkit-transform: rotate(90deg) translate(0px, 50%);
            transform: rotate(90deg) translate(0px, 50%);
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: 100%;
    width: 320px;
    height: 100%;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    background-color: #292929;
    padding-top: 237px;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    margin: 0;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
            box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    -webkit-transition-duration: .25s;
            transition-duration: .25s;
    -webkit-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
    z-index: 3;
    overflow-y: scroll;
    text-align: center;
  }
  .menu__box._active {
    -webkit-transform: translate(-100%, 0px);
            transform: translate(-100%, 0px);
  }
  .logo._active {
    z-index: 10;
  }
  body._active {
    background: rgba(41, 41, 41, 0.6);
    -webkit-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
  }
  .nav-link {
    display: block;
    color: #CDCDCD;
    font-weight: 400;
    font-size: 32px;
    line-height: 51px;
    text-decoration: none;
    -webkit-transition-duration: .25s;
            transition-duration: .25s;
  }
  .nav-link:hover {
    background-color: #CFD8DC;
  }
  .wrapper_header {
    margin-top: 30px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .nav-item {
    margin: 0;
    margin-bottom: 20px;
  }
  /* ### NOT ONLY ### */
  .wrapper_no {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .intro {
    width: 300px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
    margin-top: 60px;
  }
  .no-title {
    font-size: 25px;
    width: 200px;
    height: 65px;
    letter-spacing: 0.06em;
    text-align: center;
    margin-left: 50px;
  }
  .no-subtitle {
    width: 300px;
    height: 96px;
    text-align: center;
    margin-top: 20px;
  }
  .no-button {
    margin-left: 46px;
  }
  .img-puppy {
    width: 260px;
    height: 271px;
    margin-top: 80px;
    margin-left: 38px;
  }
  /* ### ABOUT ### */
  .wrapper_about-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
  }
  .heading_about {
    margin-top: 42px;
    margin-left: 15px;
  }
  .title {
    font-size: 25px;
    width: 250px;
    height: 65px;
    margin-left: 11px;
    text-align: center;
  }
  .about-subtitle {
    margin-top: 0px;
    margin-bottom: 70px;
    text-align: justify;
    width: 270px;
  }
  .i_a_p {
    width: 100%;
    height: 100%;
  }
  .img-about-pets {
    width: 260px;
    height: 354px;
    margin-top: 115px;
    margin-left: 19px;
    margin-bottom: 40px;
  }
  /* ### FRIENDS ### */
  .heading_friends {
    height: 90px;
    width: 300px;
    margin-left: 0px;
    margin-top: 43px;
    text-align: center;
  }
  .title_friends {
    width: 300px;
  }
  .wrapper_pets {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 2px;
    margin-top: 17px;
    width: 275px;
    height: 435px;
    overflow: hidden;
  }
  .left-btn {
    position: absolute;
    margin-top: 472px;
    margin-left: 59px;
  }
  .right-btn {
    position: absolute;
    margin-top: 472px;
    margin-left: 191px;
  }
  .reset-btn {
    margin-left: 30px;
    margin-top: 130px;
    margin-bottom: 41px;
  }
  /* ### HELP ### */
  .unit_help {
    margin-left: 15px;
    padding-top: 43px;
  }
  .help_list {
    width: 299px;
    height: 555px;
    margin-left: 1px;
    margin-bottom: 44px;
    margin-top: 15px;
  }
  .help_h4 {
    font-size: 15px;
    line-height: 110%;
    margin-top: 16px;
  }
  .item1 {
    width: 130px;
    margin-left: 4px;
    margin-top: 1px;
    margin-right: 0px;
  }
  .food {
    width: 38%;
  }
  .item2 {
    width: 130px;
    margin-top: 2px;
    margin-left: 30px;
    margin-right: 0px;
  }
  .transportation {
    width: 38%;
  }
  .item3 {
    width: 130px;
    margin-top: 3px;
    margin-left: 4px;
    margin-right: 0px;
  }
  .toys {
    width: 38%;
  }
  .item4 {
    width: 130px;
    margin-left: 30px;
    margin-top: 3px;
    margin-right: 0px;
  }
  .bowls-and-cups {
    width: 38%;
  }
  .item5 {
    width: 130px;
    margin-left: 4px;
    margin-top: 4px;
    margin-right: 0px;
  }
  .shampoos {
    width: 38%;
  }
  .item6 {
    width: 130px;
    margin-left: 30px;
    margin-top: 4px;
    margin-right: 0px;
  }
  .vitamins {
    width: 38%;
  }
  .item7 {
    width: 130px;
    margin-left: 4px;
    margin-top: 4px;
    margin-right: 0px;
  }
  .medicines {
    width: 38%;
  }
  .item8 {
    width: 130px;
    margin-left: 30px;
    margin-top: 4px;
    margin-right: 0px;
  }
  .collars-leashes {
    width: 38%;
  }
  .item9 {
    width: 130px;
    margin-left: 4px;
    margin-top: 4px;
    margin-right: 0px;
  }
  .sleeping-area {
    width: 38%;
  }
  /* ### ADDITION ### */
  .wrapper_donation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .heading_donation-dog {
    margin-left: 1px;
    margin-bottom: 1px;
  }
  .title_donation {
    margin-top: 40px;
    width: 220px;
    margin-left: 40px;
  }
  .donation-subtitle {
    margin-top: -1px;
    margin-left: 12px;
    width: 320px;
    letter-spacing: 0.001em;
  }
  .account-style {
    width: 281px;
    margin-top: -2px;
    margin-left: 8px;
  }
  .card-syle {
    font-size: 15px;
  }
  .donation_info {
    width: 280px;
    height: 90px;
    margin-left: 8px;
    text-align: justify;
  }
  .img_donation-dog {
    margin-top: 29px;
    margin-left: 20px;
    margin-bottom: 42px;
    width: 260px;
    height: 135px;
  }
  .d-dog {
    width: 100%;
    height: 100%;
  }
  /* ### FOOTER ### */
  .footer_container {
    margin-top: 23px;
    margin-left: 0px;
  }
  .footer-blok-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .h3_footer {
    margin: 0;
  }
  .f_1 {
    font-size: 25px;
    text-align: center;
    margin-left: 1px;
    margin-top: 7px;
  }
  .footer-style {
    margin: 0;
  }
  .box_up1 {
    margin-top: 32px;
    margin-left: 25px;
  }
  .box_down1 {
    margin-top: 22px;
    margin-left: 30px;
  }
  .box_possition-center {
    width: 320px;
    margin-top: 0px;
    margin-left: 0px;
  }
  .f_2 {
    font-size: 25px;
    text-align: center;
    width: 250px;
    margin-left: 25px;
    margin-top: 28px;
  }
  .box_up2 {
    margin-top: 39px;
    margin-left: 0px;
  }
  .box_down2 {
    margin-top: 29px;
    margin-left: 0px;
  }
  .dog_size {
    width: 260px;
    height: 269px;
  }
  .box_possition-right {
    margin-left: 20px;
    margin-top: 30px;
  }
  /* ### POPUP ### */
  .popup-content {
    width: 240px;
    height: 341px;
  }
  .img-class {
    display: none;
  }
  .cont-pop {
    width: 240px;
    height: 341px;
  }
  .popup-title {
    text-align: center;
  }
  .popup-subtitle {
    text-align: center;
  }
  .popup-text {
    width: 227px;
    padding-top: 20px;
    text-align: start;
  }
  .list-pets-pop {
    height: 107px;
    padding-top: 45px;
    width: 180px;
  }
  .pop-btn {
    right: -30px;
  }
}
/*# sourceMappingURL=style.css.map */